body {
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  
}

.note-add-popup {
  background-color: #343a40;
  position: fixed;
  left: 40%;
  top: 20%;
  width: 30%;
  height: 60%;
  color: white;
  padding: 20px;
  z-index: 10;
}

.note-popup-close {
  background-color: red;
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  line-height: 200%;
}
.note-image {
  display: block;

  max-height: 50px;
}
